@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.bg');
    color: theme('colors.primary');
    font-family: theme('fontFamily.body');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.heading');
    color: theme('colors.primary');
  }
}
@layer utilities {
  .animate-gradient {
    background-size: 200% auto;
    animation: gradient 8s linear infinite;
  }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
